* {
  padding: 0;
  margin: 0;
  box-sizing: box-border;
}

.ant-table-thead th {
  background-color: #6bb5b0 !important;
  color: white !important;
}

.ant-layout-sider {
  background-color: rgb(107, 181, 176) !important;
}

.ant-layout-sider-trigger {
  background-color: rgb(107, 181, 176) !important;
}
.ant-menu {
  background-color: rgb(107, 181, 176) !important;
}

.ant-menu-dark.ant-menu-inline .ant-menu-item-selected {
  background-color: white !important;
  color: black !important;
}

.ant-menu-item-selected a {
  color: black !important;
}
